body {
    background-color: cadetblue;
}
/*Las clases se pueden compartir dependiendo las propiedades
las básicas pueden ser color, font-size, font-family entre otras.
Se le puede asignar una clase a una etiqueta y aplicarle algún estilo
y posteriormente es misma etiqueta agregar otro estilo pero esta puede estar
sola.

*/
.redireccion, .pagina_principal {
    color: red;
    font-size: 30px;
    text-decoration: none;
}
.redireccion:hover {
    text-decoration: underline 5px orange;
}
.redireccion{
    font-family: "Courier New", Courier,monospace;
}
.pagina_principal{
    font-family: Arial, Helvetica, sans-serif;
}